@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #4db0bf, #f058d2);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 450px;
    border-radius: 2em;
    background-color: rgb(225, 240, 254, .5);
    padding: 50px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.logo img{
    width: 100px;
}
/* .info label {
    margin-top: 5px;
} */
.info input {
    width: 400px;
    height: 35px;
    margin-top: 5px;
    border: none;
    outline: none;
    border-radius: 2rem;
    transition: background .5s;
    background: rgba(255, 255, 255, .3);
    padding-left: calc(1rem * 3.5);
    width: 80%;
}

.info input:focus {
    background-color: white;
}
.container a {
    text-decoration: none;
    color: #35339a;
}
.container a:hover {
    text-decoration: underline;
}

.container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: black;
}

.info .item {
    position: relative;
}

.info .item .form-item-icon {
    position: absolute;
    top: .8rem;
    left: 1rem;
    font-size: 1.3rem;
    opacity: .4;
}

@media (max-width: 768px) {

    body {
        padding: 2rem 0;
    }

    .container {
        width: 280px;
        padding: 2rem;
    }

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.btn button{
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    background-color: black;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.btn button:hover {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

